SECRET_KEY=django-insecure-dev-only-change-me-awaaz-ntpc
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

MYSQL_DATABASE=awaaz_ntpc
MYSQL_USER=root
MYSQL_PASSWORD=CHANGE_ME
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
